node_modules
# Keep environment variables out of version control
.env

/app/generated/prisma
# Node / Next.js
node_modules/
.next/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
